@model List<PermissionLevels.DTOs.PermissionType>
@{
    ViewData["Title"] = "Permission Types";
}
<h1>@ViewData["Title"]</h1>

<table id="example" class="table table-striped table-bordered nowrap" style="width:100%">
    <thead>
        <tr>
            <th>PermissionType ID</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PermissionTypeID</td>
                <td>@item.Description</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#example').DataTable({
            responsive: true
        });
    });
</script>
