/PermissionLevels/PermissionLevels/bin
/PermissionLevels/PermissionLevels/obj
/PermissionLevels/PermissionLevels.DTOs/bin
/PermissionLevels/PermissionLevels.DTOs/obj
/PermissionLevels/PermissionLevels.Repositories/bin
/PermissionLevels/PermissionLevels.Repositories/obj
/PermissionLevels/.vs
